<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Social Network', false)"></head>

<body>
<div th:replace="template.html :: navbar" ></div>

<div th:replace="template.html :: jumbotron" ></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 th:text="#{index.register.today}">Register today!</h1>
            <div class="form-group">
                <form th:action="@{/register}" th:object="${user}" method="POST" id="register">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <!-- Check for registration error -->
                                <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    <p>User with such email has already been registered</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="register_firstName">
                            <span th:text="#{firstName}">First name</span>: <input type="text" th:field="*{firstName}" name="register_firstName" class="form-control" id="register_firstName" required/>
                        </label>
                        <div class="help-block register_firstName_error hidden">Please, provide valid first name</div>
                        <div th:if="${#fields.hasErrors('firstName')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_lastName">
                            <span th:text="#{lastName}">Last name</span>: <input type="text" th:field="*{lastName}" name="register_lastName" class="form-control" id="register_lastName" required/>
                        </label>
                        <div class="help-block register_lastName_error hidden">Please, provide valid last name</div>
                        <div th:if="${#fields.hasErrors('lastName')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_email">
                            <span th:text="#{email}">Email</span>: <input type="text" th:field="*{email}" name="register_email" class="form-control register_email" id="register_email" required/>
                        </label>
                        <div class="help-block register_email_error hidden">Please, provide valid email</div>
                        <div th:if="${#fields.hasErrors('email')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_password">
                            <span th:text="#{index.password}">Password</span>: <input type="password" th:field="*{password}" name="register_password" class="form-control register_password" id="register_password" required/>
                        </label>
                        <div class="help-block register_password_error hidden">Please, use all characters: letters and numbers at least once, minimum 6 symbols</div>
                        <div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_password_confirm">
                            <span th:text="#{index.confirm.password}">Confirm Password</span>: <input type="password" th:field="*{passwordConfirmation}" name="register_password_confirm" class="form-control register_password_confirm" id="register_password_confirm" required/>
                        </label>
                        <div class="help-block register_password_confirm_error hidden">Passwords don't match</div>
                        <div th:if="${#fields.hasErrors('passwordConfirmation')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('passwordConfirmation')}" th:text="'Password confirmation ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Register &raquo" class="btn btn-lg btn-success register_submit"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr/>
</div>

<div th:replace="template.html :: footer"></div>

</body>
</html>