<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Index</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>

</head>
<body>
<div class="navbar navbar-custom  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Social Network</a>

        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control login_email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control login_password">
                </div>
                <button type="submit" class="btn btn-success login_submit">Вход</button>
            </form>
            <div class="navbar-right">
                <a href="#" class="navbar-brand lang">Ru</a>
                <a href="#" class="navbar-brand lang langSelected">En</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h1>Social network facilities:</h1>
        <ul class="list-inline">
            <li>&bull; Registration</li>
            <li>&bull; Authorization</li>
            <li>&bull; Profile view and change</li>
            <li>&bull; User search</li>
            <li>&bull; Friends</li>
            <li>&bull; Messages</li>
        </ul>
        <hr/>
        <p>Join social network and become a member with full capabilities!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Register today!</h1>
            <div class="form-group">
                <form action="/register" method="post" id="register">
                    <div class="form-group">
                        <label for="register_email">
                            Email: <input type="email" name="register_email" class="form-control register_email" id="register_email" required/>
                        </label>
                        <div class="help-block register_email_error hidden">Please, provide valid email</div>
                    </div>
                    <div class="form-group">
                        <label for="register_password">
                            Password: <input type="password" name="register_password" class="form-control register_password" id="register_password" required/>
                        </label>
                        <div class="help-block register_password_error hidden">Please, use all characters: letters and numbers at least once, minimum 6 symbols</div>
                    </div>
                    <div class="form-group">
                        <label for="register_password_confirm">
                            Confirm Password: <input type="password" name="register_password_confirm" class="form-control register_password_confirm" id="register_password_confirm" required/>
                        </label>
                        <div class="help-block register_password_confirm_error hidden">Passwords don't match</div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Register &raquo" class="btn btn-lg btn-success register_submit"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr/>
    <footer>
        <p>&copy; All rights reserved</p>
    </footer>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/validation.js"></script>
</body>
</html>