<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Your profile', false)"></head>

<body th:with="sessionUser=${session.user}">

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu" ></div>

        <div class="col-md-9">

            <div class="profile-block margin-top">
                <table class="table">
                    <tr>
                        <td>
                            <div class="card">
                                <img th:if="${user.image != null}" class="img-circle img-thumbnail social-img"
                                     th:src="@{'/' + ${user.image}}" alt="Your profile image">
                                <img th:unless="${user.image != null}" class="img-circle img-thumbnail social-img"
                                     th:src="@{/images/noname.svg}" alt="Your profile image">
                                <h3 th:text="${user.firstName + ' ' + user.lastName}">Tyrion Lanister</h3>
                            </div>
                            <table class="table">
                                <tr th:if="${sessionUser.id != user.id}">
                                    <td th:if="${usersHaveFriendship}">
                                        <a th:href="@{/user/friends}" class="btn btn-success">Friend <span class="glyphicon glyphicon-ok"></span></a>
                                    </td>
                                    <td th:unless="${usersHaveFriendship}">
                                        <a th:href="@{'/user/friends/' + ${user.id} + '/addToFriends'}" class="btn btn-success">Add to friends</a>
                                    </td>
                                </tr>
                                <tr th:if="${sessionUser.id != user.id}">
                                    <td>
                                        <a th:href="@{'/user/conversation/' + ${user.id}}" href="#" class="btn btn-info">Message</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="profile-info">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 th:text="#{profile.info}">Profile</h3>
                                </div>
                                <div class="list-group">
                                    <p class="list-group-item">
                                        <span th:text="#{firstName}">First name</span>:
                                        <span th:text="${user.firstName}">Tyron</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span th:text="#{lastName}">First name</span>:
                                        <span th:text="${user.lastName}">Lanister</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span th:text="#{birth.date}">Birth date</span>:
                                        <span th:text="${#temporals.format(user.dob, 'dd.MM.yyyy')}">11.01.1989</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span th:text="#{gender}">Gender</span>:
                                        <span th:if="${user.sex.equals('MALE')}" th:text="#{gender.male}">Male</span>
                                        <span th:if="${user.sex.equals('FEMALE')}" th:text="#{gender.female}">Female</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span th:text="#{phone}">Phone</span>:
                                        <span th:text="${user.phone}">+7 999 999 99 99</span>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${sessionUser.isAdmin}">
                        <td></td>
                        <td>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" th:text="#{profile.admin.menu}">Admin menu</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="message-left" th:if="${!user.isAdmin}">
                                        <form th:action="@{/admin/makeAdmin}" action="/admin/makeAdmin" method="POST">
                                            <input type="hidden" name="userId" th:value="${user.id}">
                                            <button class="btn btn-success" name="submit"
                                                    type="submit" th:text="#{profile.make.admin}">Make Admin
                                            </button>
                                        </form>
                                    </div>
                                    <div class="message-left">
                                        <form th:action="@{/admin/block}" action="/admin/block" method="POST">
                                            <input type="hidden" name="userId" th:value="${user.id}">
                                            <button class="btn btn-danger" name="submit"
                                                    type="submit" th:text="#{profile.block}">Block
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="profile-block" th:if="${sessionUser.id == user.id && recentMessage != null }">
                <h3 th:text="#{profile.recent.message}">Recent Message:</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="card">
                            <a th:replace="template.html :: messageUser(${recentMessage.sender})"></a>&nbsp;
                            to &nbsp;
                            <a th:replace="template.html :: messageUser(${recentMessage.receiver})"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <a th:href="@{'/user/conversation/' + ${recentMessage.companionId}}" th:text="${recentMessage.message}">Hello! How are you?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-block" th:if="${not #lists.isEmpty(friends)}">
                <h3 th:text="#{profile.friends}">Friends:</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span th:each="friend : ${friends}">
                            <a th:replace="template.html :: messageUser(${friend})"></a>
                        </span>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>

<div th:replace="template.html :: footer"></div>

</body>
</html>