<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Your settings', true)"></head>

<body th:with="user=${session.user}">

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu" ></div>

        <div class="col-md-9">
            <h2 th:text="#{settings.avatar}">Your avatar.</h2>
            <div class="profile-block">
                <div>
                    <div class="image-drop border-dotted" ondrop="dragAndDrop(event)" ondragover="dragEnter(event)"
                         ondragenter="dragEnter(event)" ondragleave="dragLeave(event)">
                        <p class="drop-text" th:text="#{settings.drop.image}">Drop your image here.</p>
                    </div>
                    <div class="btn-vertical">
                        <button class="btn btn-lg btn-success btn-left" th:text="#{settings.update.avatar}">Update avatar</button>
                    </div>
                    <div class="image-right">
                        <div class="card">
                            <img th:if="${user.image != null}" class="img-circle img-thumbnail social-img"
                                 th:src="@{'/' + ${user.image}}" alt="Your profile image">
                            <img th:unless="${user.image != null}" class="img-circle img-thumbnail social-img"
                                 th:src="@{/images/noname.svg}" alt="Your profile image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-block">
                <h2 th:text="#{settings.your.profile}">Your profile.</h2>
                <form th:action="@{/user/settings}" th:object="${user}" action="/user/settings" method="post">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="email"><span th:text="#{email}">Email</span>: <input type="text" name="email" class="form-control"
                                                                 th:value="${user.email}"
                                                                 id="email" readonly />
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="firstName"><span th:text="#{firstName}">First name</span>: <input type="text" name="firstName" class="form-control"
                                                                          th:value="${user.firstName}"
                                                                          id="firstName"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="lastName"><span th:text="#{lastName}">Last name</span>: <input type="text" name="lastName" class="form-control"
                                                                        th:value="${user.lastName}"
                                                                        id="lastName"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="datepicker"><span th:text="#{birth.date}">Birth date</span>:
                                    <input type="text" size="30" class="form-control" name="dob"
                                           th:value="${#temporals.format(user.dob, 'dd.MM.yyyy')}"
                                           id="datepicker">
                                </label>
                            </div>
                            <div class="list-group-item"><span th:text="#{gender}">Gender</span>:
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="Male" th:checked="${user.sex.equals('MALE')}">
                                    <span th:text="#{gender.male}">Male</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex"  value="Female" th:checked="${user.sex.equals('FEMALE')}">
                                    <span th:text="#{gender.female}">Female</span>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="phone"><span th:text="#{phone}">Phone</span>: <input type="text" name="phone" class="form-control"
                                                                 th:value="${user.phone}"
                                                                 id="phone"/>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${user.id}" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-success"><span th:text="#{settings.change.profile}">Change profile</span></button>
                </form>
            </div>
            <div class="profile-block">
                <h2>Change password</h2>
                <form th:action="@{/user/updatePassword}" th:object="${passwordChangeDTO}" action="/user/updatePassword" method="POST">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="oldPassword">
                                    <span th:text="#{settings.old.password}">Old Password</span>:
                                    <input type="password"
                                           name="oldPassword"
                                           class="form-control"
                                           id="oldPassword"/>
                                </label>
                                <div th:if="${passwordError}" style="margin-bottom: 10px" class="text-danger">
                                    <p th:text="#{provide.pas.conf}">You entered wrong old password</p>
                                </div>
                                <div th:if="${#fields.hasErrors('oldPassword')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('oldPassword')}" th:text="'Old password: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label for="password">
                                    <span th:text="#{settings.new.password}">New Password</span>:
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           id="password"/>
                                </label>
                                <div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="'Password: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label for="passwordConfirmation">
                                    <span th:text="#{settings.repeat.password}">Repeat Password</span>:
                                    <input type="password"
                                           name="passwordConfirmation"
                                           class="form-control"
                                           id="passwordConfirmation"/>
                                </label>
                                <div th:if="${#fields.hasErrors('passwordConfirmation')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('passwordConfirmation')}" th:text="'Password confirmation: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success" th:text="#{settings.change.password}">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="template.html :: footer"></div>

<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/profile.js" th:src="@{/js/profile.js}"></script>
<script>
    $( function() {
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Пред',
            nextText: 'След',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
                'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
                'Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Нед',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: '',};
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        var options = {
                changeMonth: true,
                changeYear: true,
                highlightWeek: true,
                yearRange: "-100:+0"
            };
        $( "#datepicker" ).datepicker(options);
    } );
</script>

</body>
</html>