<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Your profile')"></head>

<body>

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu" ></div>

        <div class="col-md-9">
            <h2>Your avatar.</h2>
            <div class="profile-block">
                <div>
                    <div class="image-drop border-dotted" ondrop="dragAndDrop(event)" ondragover="dragEnter(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)">
                        <p class="drop-text">Drop your image here.</p>
                    </div>
                    <div class="btn-vertical">
                        <button class="btn btn-lg btn-success btn-left">Update avatar</button>
                    </div>
                    <div class="image-right">
                        <div class="card">
                            <img class="img-circle img-thumbnail social-img" src="../static/images/noname.svg" th:src="@{/images/noname.svg}" alt="Your profile image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-block">
                <h2>Your profile.</h2>
                <form th:action="@{/user/settings}" th:object="${user}" action="/user/settings" method="post">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="email">Email: <input type="text" name="email" class="form-control"
                                                                 th:field="*{email}"
                                                                 id="email" readonly />
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="firstName">First name: <input type="text" name="firstName" class="form-control"
                                                                          th:field="*{firstName}"
                                                                          id="firstName"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="lastName">Last name: <input type="text" name="lastName" class="form-control"
                                                                        th:field="*{lastName}"
                                                                        id="lastName"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="datepicker">Birth date:
                                    <input type="text" size="30" class="form-control" name="dob"
                                           th:value="${#temporals.format(user.dob, 'dd.MM.yyyy')}"
                                           id="datepicker">
                                </label>
                            </div>
                            <div class="list-group-item"> Gender:
                                <label class="radio-inline">
                                    <input type="radio" th:field="*{sex}" value="Male" th:checked="${user.sex.equals('Male')}">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" th:field="*{sex}" value="Female" th:checked="${user.sex.equals('Female')}">Female
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="phone">Phone: <input type="text" name="phone" class="form-control"
                                                                 th:field="*{phone}"
                                                                 id="phone"/>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Change profile</button>
                </form>
            </div>
            <div class="profile-block">
                <h2>Change password</h2>
                <form action="/changePassword" method="post">
                    <div class="panel panel-default">
                        <div class="list-group">

                            <div class="list-group-item">
                                <label for="oldpassword">Old Password: <input type="password" name="oldpassword"
                                                                              class="form-control"
                                                                              id="oldpassword"/></label>
                            </div>
                            <div class="list-group-item">
                                <label for="newpassword">New Password: <input type="password" name="newpassword"
                                                                              class="form-control"
                                                                              id="newpassword"/></label>
                            </div>
                            <div class="list-group-item">
                                <label for="repeatpassword">Repeat Password: <input type="password"
                                                                                    name="repeatpassword"
                                                                                    class="form-control"
                                                                                    id="repeatpassword"/></label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="template.html :: footer"></div>

<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/profile.js" th:src="@{/js/profile.js}"></script>
<script>
    $( function() {
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Пред',
            nextText: 'След',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
                'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
                'Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Нед',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: '',};
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        var options = {
                changeMonth: true,
                changeYear: true,
                highlightWeek: true,
                yearRange: "-100:+0"
            };
        $( "#datepicker" ).datepicker(options);
    } );
</script>

</body>
</html>