<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, csrf)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:if="${csrf}" th:content="${_csrf.token}"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Social Network</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>

</head>
<body>

<div class="navbar navbar-custom  navbar-fixed-top" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="#{header}">Social Network</a>
        </div>
        <div class="navbar-collapse collapse">
            <form th:if="${session.user == null}" action="#" th:action="@{/authenticateUser}" method="POST" class="navbar-form navbar-right">
                <div class="form-group">
                    <input name="username" type="text" placeholder="User name" class="form-control login_email">
                </div>
                <div class="form-group">
                    <input name="password" type="password" placeholder="Password" class="form-control login_password">
                </div>
                <button type="submit" class="btn btn-success login_submit" th:text="#{login}">Вход</button>
            </form>
            <form th:if="${session.user != null}" th:action="@{/logout}" method="POST" class="navbar-form navbar-right">
                <button type="submit" class="btn btn-success" th:text="#{logout}">Выход</button>
            </form>
            <div class="navbar-right" >
                <a th:href="@{?(lang=ru)}" class="navbar-brand lang" th:text="#{russian}">Ru</a>
                <a th:href="@{?(lang=en)}" class="navbar-brand lang" th:text="#{english}">En</a>
            </div>
        </div>
    </div>
</div>
<hr/>

<div class="jumbotron" th:fragment="jumbotron">
    <div class="container">
        <h1 th:text="#{index.intro}">Social network facilities:</h1>
        <ul class="list-inline">
            <li>&bull; <span th:text="#{index.registration}">Registration</span></li>
            <li>&bull; <span th:text="#{index.registration}">Authorization</span></li>
            <li>&bull; <span th:text="#{index.profile}">Profile view and change</span></li>
            <li>&bull; <span th:text="#{index.user.search}">User search</span></li>
            <li>&bull; <span th:text="#{index.friends}">Friends</span></li>
            <li>&bull; <span th:text="#{index.messages}">Messages</span></li>
        </ul>
        <hr/>
        <p th:text="#{index.join.today}">Join social network and become a member with full capabilities!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" th:fragment="menu">
            <div class="sidebar-header"></div>

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{menu.user.menu}">User menu</h3>
                </div>
                <div class="list-group">
                    <a th:href="@{/user/profile}" class="list-group-item" th:text="#{menu.profile}">Profile</a>
                    <a th:href="@{/user/messages}" class="list-group-item" th:text="#{menu.messages}">Messages</a>
                    <a th:href="@{/user/friends}" class="list-group-item" th:text="#{menu.friends}">Friends</a>
                    <a th:href="@{/user/users}" class="list-group-item" th:text="#{menu.users}">Users</a>
                    <a th:href="@{/user/settings}" class="list-group-item" th:text="#{menu.settings}">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <p>
                <a th:fragment="profileImage(user)" th:href="@{'/user/profile/' + ${user.id}}">
                    <img class="img-circle img-thumbnail img-message"
                         th:src="@{'/' + ${user.image}}" alt="User's image">
                    <span th:text="${user.firstName + ' ' + user.lastName}">Sansa Stark</span>
                </a>
            </p>
            <p>
                <a th:fragment="messageUser(user)" th:href="@{'/user/profile/' + ${user.id}}">
                    <img class="img-circle img-thumbnail img-message" th:src="@{'/' + ${user.image}}" />
                    <span th:text="${user.firstName}">Tyrion</span>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container" th:fragment="footer">
    <footer >
        <footer>
            <p th:text="#{footer.copyright}">&copy; All rights reserved</p>
        </footer>
    </footer>

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/validation.js" th:src="@{/js/validation.js}"></script>
</div>

</body>
</html>