<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Users', false)"></head>

<body th:with="sessionUser=${session.user}">

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu" ></div>

        <div class="col-md-9">
            <div class="friends-top">
                <form action="#" th:action="@{/user/users}" method="get">
                    <div class="input-group stylish-input-group">
                        <input type="text" name="search" th:value="${search}" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>

            <div class="friends-top">
                <h3 th:text="#{users.header}">Users:</h3>
                <table class="table users">
                    <tr th:each="user : ${page.content}">
                        <td>
                            <a th:replace="template.html :: profileImage(${user})"></a>
                            <br/><span th:text="${#temporals.format(user.dob, 'dd.MM.yyyy') + ', '}">23.05.1986, </span>
                            <span th:if="${user.sex.equals('MALE')}" th:text="#{gender.male}">Male</span>
                            <span th:if="${user.sex.equals('FEMALE')}" th:text="#{gender.female}">Female</span>
                        </td>
                        <td>
                            <a th:href="@{'/user/conversation/' + ${user.id}}" href="#" class="btn btn-info" th:text="#{message}">Message</a>
                        </td>
                    </tr>
                </table>
                <div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${page.hasPrevious} ? '' : 'disabled'">
                                <a th:if="${page.hasPrevious}" class="page-link"
                                   th:href="@{/user/users(page=${page.currentPage - 1}, search=${search})}" th:text="#{previous}">
                                    Previous
                                </a>
                                <a th:if="${!page.hasPrevious}" class="page-link" href="#" th:text="#{previous}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}"
                                th:classappend="${i == page.currentPage} ? 'active' : '' " >
                                <a class="page-link" th:href="@{/user/users(page=${i}, search=${search})}" th:text="${i+1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${page.hasNext} ? '' : 'disabled'">
                                <a th:if="${page.hasNext}" class="page-link"
                                   th:href="@{/user/users(page=${page.currentPage + 1}, search=${search})}" th:text="#{next}">
                                    Next
                                </a>
                                <a th:if="${!page.hasNext}" class="page-link" href="#" th:text="#{next}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="template.html :: footer"></div>

</body>
</html>